.value-cluster-child {
  position: absolute;
  top: 121.2px;
  left: 0;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1837.9px;
  height: 1px;
}
.moodholiclogo-2-icon {
  position: absolute;
  height: calc(100% - 1.2px);
  top: 0;
  bottom: 1.2px;
  left: 829.5px;
  max-height: 100%;
  width: 167px;
  object-fit: contain;
}
.div {
  position: absolute;
  top: 61px;
  left: 29.6px;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
  z-index: 1;
}
.image-1-icon {
  height: 59.8px;
  width: 59.8px;
  position: absolute;
  margin: 0 !important;
  top: -17.9px;
  left: -53.9px;
  object-fit: cover;
}
.div1 {
  width: 60px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
  z-index: 1;
}
.output-merge {
  position: absolute;
  top: 59px;
  left: 153.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.group-icon,
.group-icon1 {
  position: absolute;
  top: 45px;
}
.group-icon {
  left: 1760px;
  width: 38.7px;
  height: 35.2px;
  object-fit: contain;
}
.group-icon1 {
  left: 1643px;
  width: 35px;
  height: 35px;
}
.uimgraph-bar-icon {
  position: absolute;
  top: 42px;
  left: 1696px;
  width: 46px;
  height: 41px;
  overflow: hidden;
}
.value-cluster {
  align-self: stretch;
  height: 122.2px;
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.frame-child {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gold);
  display: none;
}
.star-shape-icon {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.frame-wrapper,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-9) var(--padding-3xl-1) var(--padding-2xs-1) 22.2px;
  background-color: var(--color-gold);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.frame-wrapper {
  flex-direction: column;
  padding: 0 var(--padding-5xs-1) 0 0;
}
.frame-item {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon {
  height: 37.5px;
  width: 35px;
  position: relative;
  z-index: 1;
}
.frame-container,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-1) 23.9px var(--padding-xs-4);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.frame-container {
  flex-direction: column;
  padding: 0 var(--padding-3xs-7) 0 0;
}
.frame-inner {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon1 {
  height: 35.3px;
  width: 35.6px;
  position: relative;
  z-index: 1;
}
.rectangle-container,
.rectangle-div {
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini-7) 23.8px var(--padding-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-div {
  height: 62px;
  width: 84.3px;
  position: relative;
  display: none;
}
.vector-icon2 {
  height: 33.3px;
  width: 41.7px;
  position: relative;
  z-index: 1;
}
.frame-group,
.group-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 15.7px var(--padding-2xl-2) var(--padding-smi) var(--padding-2xl-4);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-mini);
  justify-content: flex-start;
}
.frame-group {
  width: 513.3px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.line-icon,
.none {
  align-self: stretch;
  max-width: 100%;
}
.none {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.line-icon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1,
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child1 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon {
  object-fit: cover;
}
.icon1,
.parent {
  position: absolute;
  z-index: 1;
}
.icon1 {
  top: 19.4px;
  left: 35.5px;
  width: 29.2px;
  height: 21.4px;
  object-fit: contain;
}
.parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 28px;
  left: 23px;
  width: 100px;
  height: 60px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/-20240405--317-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.b,
.frame-div {
  position: relative;
}
.frame-div {
  height: 115px;
  width: 145px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  min-width: 145px;
}
.b {
  align-self: stretch;
}
.div2,
.vector-icon3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon3 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div2 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.story-icon,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.story-icon {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon4 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div3 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.frame,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.box-shadow-icon,
.div4 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.box-shadow-icon {
  height: 18.6px;
  width: 23.3px;
}
.div4 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.container2,
.story-icon-parent,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.container2,
.story-icon-parent {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.story-icon-parent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-wrapper1,
.group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.group {
  flex-direction: column;
  gap: var(--gap-27xl);
}
.container1,
.feeling-bubble {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.container1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 246px;
}
.feeling-bubble {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 358px;
}
.data-filter {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.none1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-1) 0 0;
}
.input-collector-icon {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-wrapper2,
.none-group {
  display: flex;
  align-items: flex-start;
}
.none-group {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-wrapper2 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.feeling-bubble-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.frame-child2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child3,
.icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child3 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon2 {
  object-fit: cover;
}
.group-div,
.icon3 {
  position: absolute;
  z-index: 1;
}
.icon3 {
  top: 19.4px;
  left: 35.5px;
  width: 29.2px;
  height: 21.4px;
  object-fit: contain;
}
.group-div {
  top: 32px;
  left: 23px;
  width: 100px;
  height: 60px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/-20240405--317-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent1 {
  height: 115px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  min-width: 145px;
}
.b1 {
  align-self: stretch;
  position: relative;
}
.div5,
.vector-icon5 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon5 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div5 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-group,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-group {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon6 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div6 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-container,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper3 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-container {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.div7,
.vector-icon7 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon7 {
  height: 18.6px;
  width: 23.3px;
}
.div7 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.frame-parent3,
.vector-parent1,
.wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper4 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.frame-parent3,
.vector-parent1 {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent3 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-wrapper4,
.parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper4 {
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.parent1 {
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-parent2,
.frame-wrapper3 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.frame-wrapper3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent2 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 358px;
}
.div8 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-1) 0 0;
}
.vector-icon8 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent4,
.frame-wrapper5 {
  display: flex;
  align-items: flex-start;
}
.frame-parent4 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-wrapper5 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-child4,
.frame-parent1 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frame-child4 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-child5,
.icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child5 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon4 {
  object-fit: cover;
}
.icon5,
.parent2 {
  position: absolute;
  z-index: 1;
}
.icon5 {
  top: 19.4px;
  left: 35.5px;
  width: 29.2px;
  height: 21.3px;
  object-fit: contain;
}
.parent2 {
  top: 28px;
  left: 23px;
  width: 100px;
  height: 60px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/-20240405--318-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent2 {
  height: 115px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  min-width: 145px;
}
.b2 {
  align-self: stretch;
  position: relative;
}
.div9,
.vector-icon9 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon9 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div9 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent2,
.wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper6 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent2 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon10 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div10 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent3,
.wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper7 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent3 {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.div11,
.vector-icon11 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon11 {
  height: 18.6px;
  width: 23.3px;
}
.div11 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.frame-parent7,
.vector-parent4,
.wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper8 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.frame-parent7,
.vector-parent4 {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent7 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-wrapper7,
.parent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper7 {
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.parent3 {
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-parent6,
.frame-wrapper6 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.frame-wrapper6 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent6 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 358px;
}
.div12 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-1) 0 0;
}
.vector-icon12 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent8,
.frame-wrapper8 {
  display: flex;
  align-items: flex-start;
}
.frame-parent8 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-wrapper8 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-child6,
.frame-parent5 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frame-child6 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-child7,
.icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child7 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon6 {
  object-fit: cover;
}
.icon7,
.parent4 {
  position: absolute;
  z-index: 1;
}
.icon7 {
  top: 19.4px;
  left: 35.5px;
  width: 29.2px;
  height: 21.3px;
  object-fit: cover;
}
.parent4 {
  top: 28px;
  left: 23px;
  width: 100px;
  height: 60px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/-20240405--318-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent3 {
  height: 115px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  min-width: 145px;
}
.b3 {
  align-self: stretch;
  position: relative;
}
.div13,
.vector-icon13 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon13 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div13 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent5,
.wrapper10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper10 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent5 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon14 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div14 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent6,
.wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper11 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent6 {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.div15,
.vector-icon15 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon15 {
  height: 18.6px;
  width: 23.3px;
}
.div15 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.frame-parent11,
.vector-parent7,
.wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper12 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.frame-parent11,
.vector-parent7 {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent11 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-wrapper10,
.parent5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper10 {
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.parent5 {
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-parent10,
.frame-wrapper9 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.frame-wrapper9 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent10 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 358px;
}
.div16 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-1) 0 0;
}
.vector-icon16 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent12,
.frame-wrapper11 {
  display: flex;
  align-items: flex-start;
}
.frame-parent12 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-wrapper11 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-child8,
.frame-parent9 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frame-child8 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-child9,
.icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child9 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
}
.icon8 {
  object-fit: cover;
}
.icon9,
.parent6 {
  position: absolute;
  z-index: 1;
}
.icon9 {
  top: 19.4px;
  left: 35.5px;
  width: 29.2px;
  height: 21.3px;
  object-fit: cover;
}
.parent6 {
  top: 28px;
  left: 23px;
  width: 100px;
  height: 60px;
  background-image: url(@/assets/icon/Profile/AIrecommended/List/-20240405--318-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent4 {
  height: 115px;
  width: 145px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  min-width: 145px;
}
.b4 {
  align-self: stretch;
  position: relative;
}
.div17,
.vector-icon17 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon17 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div17 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent8,
.wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper14 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent8 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon18 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div18 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent9,
.wrapper15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper15 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent9 {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.div19,
.vector-icon19 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon19 {
  height: 18.6px;
  width: 23.3px;
}
.div19 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.frame-parent15,
.vector-parent10,
.wrapper16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper16 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.frame-parent15,
.vector-parent10 {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent15 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-wrapper13,
.parent7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper13 {
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.parent7 {
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-parent14,
.frame-wrapper12 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.frame-wrapper12 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 246px;
}
.frame-parent14 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 358px;
}
.div20 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-1) 0 0;
}
.vector-icon20 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent16,
.frame-wrapper14 {
  display: flex;
  align-items: flex-start;
}
.frame-parent16 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-wrapper14 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent13 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frame-child10,
.frame-parent13,
.none-parent {
  align-self: stretch;
  max-width: 100%;
}
.frame-child10 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.none-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi-8);
}
.vector-icon21 {
  width: 17.4px;
  height: 29.9px;
  position: relative;
  object-fit: contain;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-4) var(--padding-7xs-8) 0 0;
}

.div21 {
  position: absolute;
  top: 0;
  left: 8px;
  display: inline-block;
  width: 14px;
  height: 26.7px;
  min-width: 14px;
  z-index: 1;
}
.ellipse-parent {
  height: 32.7px;
  width: 31.5px;
  position: relative;
}
.div22 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper18 {
  width: 20.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.div23 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper19 {
  width: 20.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.div24 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper20 {
  width: 19.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div25 {
  height: 26.7px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 10.4px;
}
.wrapper21 {
  width: 27.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.vector-icon22 {
  width: 17.4px;
  height: 29.9px;
  position: relative;
  object-fit: contain;
}
.vector-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-4) 0 0;
}
.frame-parent17,
.frame-wrapper15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent17 {
  width: 343.7px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper15 {
  width: 722.1px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.frame-parent {
  width: 738.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.ai,
.container {
  display: flex;
  align-items: flex-start;
}
.container {
  width: 1822.9px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
.ai {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-21xl) var(--padding-16xl-7);
  box-sizing: border-box;
  gap: 39.1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .feeling-bubble-parent,
  .frame-parent1,
  .frame-parent13,
  .frame-parent5,
  .frame-parent9 {
    gap: var(--gap-13xl);
  }
  .div21,
  .div22,
  .div23,
  .div24,
  .div25 {
    font-size: var(--font-size-5xl);
  }
  .frame-parent {
    gap: var(--gap-8xl);
  }
}

@media screen and (max-width: 675px) {
  .frame-group {
    justify-content: center;
  }
  .feeling-bubble {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent2 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent6 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent10 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent14 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .ai {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 675px) {
  .b {
    font-size: var(--font-size-base);
  }
  .story-icon-parent {
    flex-wrap: wrap;
  }
  .group {
    gap: var(--gap-4xl);
  }
  .feeling-bubble-parent {
    gap: var(--gap-base);
  }
  .b1 {
    font-size: var(--font-size-base);
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .parent1 {
    gap: var(--gap-4xl);
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .b2 {
    font-size: var(--font-size-base);
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .parent3 {
    gap: var(--gap-4xl);
  }
  .frame-parent5 {
    gap: var(--gap-base);
  }
  .b3 {
    font-size: var(--font-size-base);
  }
  .frame-parent11 {
    flex-wrap: wrap;
  }
  .parent5 {
    gap: var(--gap-4xl);
  }
  .frame-parent9 {
    gap: var(--gap-base);
  }
  .b4 {
    font-size: var(--font-size-base);
  }
  .frame-parent15 {
    flex-wrap: wrap;
  }
  .parent7 {
    gap: var(--gap-4xl);
  }
  .frame-parent13 {
    gap: var(--gap-base);
  }
  .div21,
  .div22,
  .div23,
  .div24,
  .div25 {
    font-size: var(--font-size-lg);
  }
}
